<h1>Witaj w MedTesterze {{ userFirstName }}</h1>
<div>Twój email został zmieniony. Musisz ponownie aktywować konto.</div>
<br>
<div><a href="{{ frontendUrl }}/activate/{{ tokenId }}">Link aktywacyjny</a></div>
<div>WIelkie pozdro mordzia</div>
