<h1>Witaj w MedTesterze {{ userFirstName }}</h1>
<div>Witamy w platformie. Oto twoje wygenerowane hasło: {{ newPassword }}</div>
<br>
<div><a href="{{ frontendUrl }}/activate/{{ tokenId }}">Link aktywacyjny</a></div>
<div>WIelkie pozdro mordzia</div>
